# Database

SQL

In [1]:
import mysql.connector
 
# connecting to the mysql server
db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="Everest@123",
    db = "bks"
)

In [2]:
cursor =db.cursor()

In [3]:
cursor.execute('select name from user where id =2')

In [4]:
row = cursor.fetchall()
print(row)

[('Rajan',)]

In [5]:
cursor.fetchall()  # Fetch and discard the result set

[]

Create Table

In [6]:
query = "create table Employee (Eid int,Ename varchar(20),Address varchar(20))"
cursor.execute(query)

Insert Into Table

In [7]:
query = "Insert into Employee values(1,'XYZ','Ktm'), (2,'ABC','Bkt'), (3,'PQR','Pkr')"
cursor.execute(query)
db.commit()

Show Table

In [8]:
query= "select * from employee"
cursor.execute(query)

In [9]:
row = cursor.fetchall()
print(row)

[(1, 'XYZ', 'Ktm'), (2, 'ABC', 'Bkt'), (3, 'PQR', 'Pkr')]

Update row

In [10]:
query= "update employee set Address = 'Llt' where Eid = 1"
cursor.execute(query)
db.commit()

In [11]:
query= "select * from employee"
cursor.execute(query)

In [12]:
row = cursor.fetchall()
print(row)

[(1, 'XYZ', 'Llt'), (2, 'ABC', 'Bkt'), (3, 'PQR', 'Pkr')]

Add Column

In [13]:
query = "alter table employee add Email varchar(200)"
cursor.execute(query)
db.commit()

In [14]:
query= "select * from employee"
cursor.execute(query)

In [15]:
row = cursor.fetchall()
print(row)

[(1, 'XYZ', 'Llt', None), (2, 'ABC', 'Bkt', None), (3, 'PQR', 'Pkr', None)]

In [16]:
query= "update employee set Email = 'xyz@gmail.com' where Eid = 1"
cursor.execute(query)
db.commit()

In [17]:
query= "update employee set Email = 'abc@gmail.com' where Eid = 2"
cursor.execute(query)
db.commit()

In [18]:
query= "select * from employee"
cursor.execute(query)

In [19]:
row = cursor.fetchall()
print(row)

[(1, 'XYZ', 'Llt', 'xyz@gmail.com'), (2, 'ABC', 'Bkt', 'abc@gmail.com'), (3, 'PQR', 'Pkr', None)]

Delete Row

In [20]:
query ="delete from employee where Eid = 3"
cursor.execute(query)
db.commit()

In [21]:
query= "select * from employee"
cursor.execute(query)

In [22]:
row = cursor.fetchall()
print(row)

[(1, 'XYZ', 'Llt', 'xyz@gmail.com'), (2, 'ABC', 'Bkt', 'abc@gmail.com')]

Select from starting letter

In [23]:
query= "select * from employee where ename like 'a%'"
cursor.execute(query)

In [24]:
row = cursor.fetchall()
print(row)

[(2, 'ABC', 'Bkt', 'abc@gmail.com')]

In [25]:
query= "drop table employee"
cursor.execute(query)

Change table name

In [26]:
query= "ALTER TABLE employee RENAME employee_details"
cursor.execute(query)

ProgrammingError: 1146 (42S02): Table 'bks.employee' doesn't exist

In [ ]:
row = cursor.fetchall()
print(row)

[]

Create table Order

In [ ]:
query = "create table Orders (Eid int, Shipperid int, Remarks varchar(20))"
cursor.execute(query)

In [ ]:
query = "Insert into Orders values(1,3,'book delivered'), (3,4,'Jacket delivered'), (4,4,'Bag delivered')"
cursor.execute(query)
db.commit()

In [ ]:
query= "select * from orders"
cursor.execute(query)

In [ ]:
row = cursor.fetchall()
print(row)

[(1, 3, 'book delivered'), (3, 4, 'Jacket delivered'), (4, 4, 'Bag delivered')]

Inner join two tables

In [ ]:
query= "select Orders.eid,employee_details.ename from Orders inner join employee_details on Orders.eid = employee_details.eid"
cursor.execute(query)

In [ ]:
row = cursor.fetchall()
print(row)

[(1, 'XYZ')]

Left Join

In [ ]:
query= "select * from Orders left join employee_details on Orders.eid = employee_details.eid"
cursor.execute(query)

In [ ]:
row = cursor.fetchall()
print(row)

[(1, 3, 'book delivered', 1, 'XYZ', 'Llt', 'xyz@gmail.com'), (3, 4, 'Jacket delivered', None, None, None, None), (4, 4, 'Bag delivered', None, None, None, None)]

In [ ]:
query= "select Orders.eid,employee_details.ename,orders.remarks from Orders left join employee_details on Orders.eid = employee_details.eid"
cursor.execute(query)

In [ ]:
row = cursor.fetchall()
print(row)

[(1, 'XYZ', 'book delivered'), (3, None, 'Jacket delivered'), (4, None, 'Bag delivered')]

Right Join

In [ ]:
query= "select Orders.eid,employee_details.ename,orders.remarks from Orders right join employee_details on Orders.eid = employee_details.eid"
cursor.execute(query)

In [ ]:
row = cursor.fetchall()
print(row)

[(1, 'XYZ', 'book delivered'), (None, 'ABC', None)]

Cross Join

In [ ]:
query= "select Orders.eid,employee_details.ename,orders.remarks from Orders cross join employee_details"
cursor.execute(query)

In [ ]:
row = cursor.fetchall()
print(row)

[(4, 'XYZ', 'Bag delivered'), (3, 'XYZ', 'Jacket delivered'), (1, 'XYZ', 'book delivered'), (4, 'ABC', 'Bag delivered'), (3, 'ABC', 'Jacket delivered'), (1, 'ABC', 'book delivered')]

Order by

In [ ]:
query= "select * from Orders order by eid desc"
cursor.execute(query)

In [ ]:
row = cursor.fetchall()
print(row)

[(4, 4, 'Bag delivered'), (3, 4, 'Jacket delivered'), (1, 3, 'book delivered')]

In [ ]:
query= "select * from Orders order by eid desc,remarks asc"
cursor.execute(query)

In [ ]:
row = cursor.fetchall()
print(row)

[(4, 4, 'Bag delivered'), (3, 4, 'Jacket delivered'), (1, 3, 'book delivered')]

Null check

In [ ]:
query= "select * from Orders where eid is null"
cursor.execute(query)

In [ ]:
row = cursor.fetchall()
print(row)

[]

Count,Avg,Sum

In [ ]:
query= "select count(eid) from Orders"
cursor.execute(query)

In [ ]:
row = cursor.fetchall()
print(row)

[(3,)]

In [ ]:
query= "select avg(shipperid) from orders" 
cursor.execute(query)

In [ ]:
row = cursor.fetchall()
print(row)

[(Decimal('3.6667'),)]

In [ ]:
query= "select sum(shipperid) from orders" 
cursor.execute(query)

In [ ]:
row = cursor.fetchall()
print(row)

[(Decimal('11'),)]

Wildcard like % and _

In [ ]:
query= "select * from orders where remarks like 'b%'" 
cursor.execute(query)

In [ ]:
row = cursor.fetchall()
print(row)

[(1, 3, 'book delivered'), (4, 4, 'Bag delivered')]

In [ ]:
query= "select * from orders where remarks like 'b%_red'" 
cursor.execute(query)

In [ ]:
row = cursor.fetchall()
print(row)

[(1, 3, 'book delivered'), (4, 4, 'Bag delivered')]

in

In [ ]:
query= "select eid from orders where eid in (2,4)" 
cursor.execute(query)

In [ ]:
row = cursor.fetchall()
print(row)

[('Bag delivered',)]

Having

In [31]:
query= "insert into orders values(2,5,'book delivered')" 
cursor.execute(query)

In [32]:
query= "select count(eid),remarks from orders group by remarks having count(eid) > 1" 
cursor.execute(query)

In [33]:
row = cursor.fetchall()
print(row)

[(2, 'book delivered')]

Limit

In [35]:
query = "select eid,remarks from orders order by eid limit 2"
cursor.execute(query)

In [36]:
row = cursor.fetchall()
print(row)

[(1, 'book delivered'), (2, 'book delivered')]

subquery

In [38]:
query = """select eid, remarks
from 
orders
where
eid = (select max(eid) from orders)
"""
cursor.execute(query)

In [39]:
row = cursor.fetchall()
print(row)

[(4, 'Bag delivered')]