# SETS

Sets are used to store multiple items into a single variables. A set is unordered,unchangable and un indexed.

In [1]:
fruits_set={'apple','banana','orange'}
print(fruits_set)

{'orange', 'apple', 'banana'}

In [6]:
#Duolicate check
fruits_set={'apple','banana','orange','orange'}
print(fruits_set)
fruits_set={'apple','banana','orange',True,1,2,0,False} #True and 1 are considered as same value.
print(fruits_set)
print(len(fruits_set))

{'orange', 'apple', 'banana'}
{0, True, 'orange', 2, 'apple', 'banana'}
6

In [9]:
#SET with different data items
mix_set={1,'hi',True}
print(type(mix_set))
#set constructor to create set
mix_set1=set(('hi',1,2,True))
print(mix_set1)

<class 'set'>
{1, 2, 'hi'}

ACCESS set items

In [12]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  if x =='apple':
     print(x)
print('banana' in thisset)

apple
True

Add Set Items

In [16]:
thisset = {"apple", "banana", "cherry"}
add=['orange','mango']
for i in add:
    thisset.add(i)
print(thisset)
'''thisset.add("orange")
print(thisset)'''

{'orange', 'apple', 'mango', 'banana', 'cherry'}

'thisset.add("orange")\nprint(thisset)'

In [18]:
#Add multiple sets\
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)
#add element of list into sets
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'mango', 'apple', 'banana', 'papaya', 'pineapple', 'cherry'}
{'orange', 'apple', 'banana', 'kiwi', 'cherry'}

Remove Item

In [21]:
thisset = {"apple", "banana", "cherry"}
add=['apple','cherry']
for i in add:
    thisset.remove(i)
print(thisset)
'''thisset.remove('apple')
print(thisset)'''

{'banana'}

"thisset.remove('apple')\nprint(thisset)"

Looping Sets

In [22]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
apple
banana

Join Sets

In [29]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3,'a'}

#set3 = set1.union(set2)
set1.update(set2)
print(set1)
set1.intersection_update(set2)
print(set1)

{1, 2, 3, 'c', 'b', 'a'}
{1, 2, 3, 'a'}

In [30]:
#Keep all but not duplicate
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'microsoft', 'google', 'banana', 'cherry'}

Copy Set

In [31]:
x = {"apple", "banana", "cherry"}
y=x.copy()
print(y)

{'cherry', 'apple', 'banana'}

In [32]:
#ISDISJOINT
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

In [33]:
#IS SUBSET
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True