# TUPLES

Tuples are used to store multiple items in a single variable.It is ordered but not unchangable and allow duplicate value

In [3]:
thistuple = ("apple", "banana", "cherry",'banana')
print(thistuple)
print(len(thistuple))

('apple', 'banana', 'cherry', 'banana')
4

In [7]:
#Tuple data types and constructor tuple
thistuple = tuple(("apple", True, 1))
print(thistuple)
print(type(thistuple[2]))

('apple', True, 1)
<class 'int'>

Acces data items

In [15]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])
print(thistuple[-1])
print(thistuple[0:2])
print(thistuple[:1])
#Check if item exist
if 'apple' in thistuple:
    print('yes')

banana
cherry
('apple', 'banana')
('apple',)
yes

Update tuple by converting intp list

In [10]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])
y=list(thistuple)
y[1]='egg'
print(y)
x=tuple(y)
print(x)

banana
['apple', 'egg', 'cherry']
('apple', 'egg', 'cherry')

In [12]:
#Add tuple to tuple
x=("apple", "banana", "cherry")
y=("mango","litchi")
x+=y
print(x)
#Remove item
z=list(x)
z.remove(z[1])
a=tuple(z)
print(a)

('apple', 'banana', 'cherry', 'mango', 'litchi')
('apple', 'cherry', 'mango', 'litchi')

Unpacking Tuple: to extract the values back into variables.

In [13]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [16]:
#IF Value and variables are not equal
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, *yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
['banana', 'cherry', 'strawberry']
raspberry

Looping tuple

In [19]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  i=2
print(thistuple[i])

cherry

In [22]:
#Joining
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2
print(mytuple)
meat=("CHIKEN", "buffalo","goat")
x= fruits+meat
print(x)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')
('apple', 'banana', 'cherry', 'CHIKEN', 'buffalo', 'goat')